.heading
{
    color: black;
    background: powderblue;
    border: 1px solid green;
    display:flex;
    width: 100%;
}

.logo
{
    width: 100px;
}
.logocontainer
{
    width: 200px;
}

.nav-items { 
    justify-content: flex-start;
}

.nav-items > ul {
    padding: 0px 10px;
    margin: 10px;
    font-size: 25px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.search{
    padding: 15px;
    margin: 10px;
    width: 30%;
    border: 1px solid green;
}

.res-container
{
    background: powderblue;
    width: 200px;
    margin: 5px;
 
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.res-describe{
    font-size: 75%;
    padding: 10px;
}

.res-logo {
    padding: 5px;
    width: 190px;
    height: 150px
    
}

.res-container:hover {
    border: 1px solid green;
    cursor: pointer;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 10px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}